@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-ubuntu overflow-hidden bg-black text-white selection:bg-ubuntu-orange selection:text-white;
    }
}

/* Custom Scrollbar for Terminal / Content */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-ubuntu-warm-grey/50 rounded-full hover:bg-ubuntu-orange;
}